*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/public/uploads
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
npm-debug.log
.vscode

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset
